body {
    font-family:Roboto;
    background-color: #000000;
    color: #f9f9fb;
}

h1, h2, h3, h4, h5, h6 {
    font-family:"Funnel+Display";
    font-size:30pt;
    color: rgb(86, 246, 78);
}
h2 {
    margin: .1em;
}
h2, h3, h4, h5, h6 {
    font-size: 2.5em;
    color: #a80fe9;
    font-style: initial;
    text-shadow: 2px 2px 3px rgba(0,0,.5);
    font-family: 'Funnel Display', sans-serif;
    text-align: center;
}

header {
    text-align:center;
}

#hero, footer {
    color:#ffffff;
    border: 2px solid #585E4A;
    background-color: #022c63;
    text-align:center;
    padding:10px;
}

/* Hero Section */

#hero img{
    width:300px;
    max-width: 100%;
}

/* Bio Section */

#bio {
    text-align:center;
    
    p{
        text-align: justify;
        margin: 0 auto;
        max-width: 60rem;
        font-size: 1.5rem;
        padding: 0.5rem;
        line-height: 2;
    }
}

/* Hobbies */

#hobbies { 
display: flex; 
flex-direction: column; 
align-items: center;
p{
    text-align: justify;
    margin: 0 auto;
    max-width: 60rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    line-height: 2;
}

}

/* Gallery */

#gallery {
    border: 2px solid #ffffff;
    margin-bottom:2rem ; 
    text-align: center; 
}


#gallery img {
    max-width:100%;
}

#gallery figure {
text-align: center;
}

/* Literature */

#lit h2 {
    text-align: center;
}
 #lit h3 {
    text-align:left;
    font-size: 2.5em;
    color: #a80fe9;
    font-style: initial;
    text-shadow: 2px 2px 3px rgba(0,0,.5);
    font-family: 'Funnel Display', sans-serif;
    text-align: center;
}
#lit {
    border: 2px solid#ffffff;
    margin-bottom: 2rem;
    p{
        text-align: justify;
        margin: 0 auto;
        max-width: 60rem;
        font-size: 1.5rem;
        padding: 0.5rem;
        line-height: 2;
    }
}

#lit div{
    padding:2rem;
    max-width:40rem;
    margin:0  auto;
}

/* Dropcaps */

#lit div p:first-child:first-letter {
    color:#cfff60;
    background-image:radial-gradient(#fff);
    float:left;
    font-size:3em;
    padding:.25em;
    margin-right:.25em;
    line-height:.65;
    line-height:.65;
    border:4px outset #cfff60;
    font-family:'Franklin Gothic Medium', 'Arial Narrow';
    text-shadow:2px 2px 3px rgba(0,0,.5);
    box-shadow:5px 5px 5px rgba(0,0,.5) ;
    border-top-left-radius:.2em;
    border-bottom-right-radius:.2em;
}

/* tablet size */
@media screen and (min-width: 60em) {
figure {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

figcaption {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 2rem;
   margin-left: 1rem;
}

figure img {
    width: 100%;
}
#lit div {
    max-width: 100%;
    columns: 45rem;
}

}

/* large screen size */

@media screen and (min-width: 100em) {

    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    hr {
        display: none;
    }

    #gallery h2 {
grid-column: 1/-1;
    }

    figure {
        display: block;
    }
    
}
#myvideo {
    text-align: center;
    
}
#video {
    display: grid;
        grid-template-columns:1fr;
}
#video {
  position:center;
  width: 80%; 
  max-width: 600px;
  margin: 0 auto; 
  border-radius: 20px; 
  overflow: hidden; 
}

/* Contact Form */

#formElements {
    display: grid;
    row-gap: .5em;

}

#contact {

    padding:1rem;
    max-width: 600px;
    margin:2rem auto;
    border: #ffffff 2px solid;
    border-radius: 2rem;

}

fieldset {
border: 2px solid #000000;
margin-top: 1em;
margin-bottom: 1em;
border-radius: 2rem;
}

legend {
    background-color: #000000;
    color: rgb(0, 217, 255);
    padding: .5em;
}

#contact input, #contact textarea, #contact select, #contact button {
padding: .5em;
font-size:1rem ;

}

#contact ul {
    list-style: none;
    padding: 0;
}
#contact li {
    margin-bottom: 1rem;
}

#contact button {
    background-color:rgb(0, 217, 255);
    color: black;
    border: 1px solid rgb(0, 217, 255);
    max-width: 400px;
    width: 50%;
    justify-self: center;
}