body {
    font-family:Roboto;
    background-color: #B23EDE;
    color: #cfff60;
}

h1, h2, h3, h4, h5, h6 {
    font-family:"Funnel+Display";
    font-size:30pt;
}

header {
    text-align:center;
}

#hero, footer {
    color:#3158C3;
    border: 2px solid #585E4A;
    background-color: #322C34;
    text-align:center;
    padding:10px;
}

/* Hero Section */

#hero img{
    width:300px;
    max-width:sss100%;
}

/* Bio Section */

#bio {
    text-align:center;
}

/* Hobbies */

#hobbies ul li:nth-child(even){
color: #000000;

}

/* Gallery */

#gallery {
    border: 2px solid #585E4A;  
}


#gallery img {
    max-width:100%;
}

#gallery figure {
text-align:center;
}